body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
:root {
  --main-color: #212121;
  --accent-color: #2196f3;
  --title-color: #ffffff;
  --background: #2f303a;
  --team-color: #f5f4fa;
  --text-color: #757575;
}
.navigation {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.link {
  text-decoration: none;
  color: #4d5ae5;
}
