body {
  color: #434455;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  background: #fff;
}

ul,
ol {
  list-style-type: none;
}

/*header content*/

.menu-nav {
  background: var(--WHITE, #fff);
}

.menu-nav a {
  text-decoration: none;
  flex-shrink: 0;
}

.nav-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.nav-logo-second-part {
  color: #2e2f42;
}

.menu-nav-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.menu-nav-link:hover {
  color: #404bbf;
}

.menu-nav-link:focus {
  color: #404bbf;
}

address {
  font-style: normal;
}

.menu-nav-address {
  color: #434455;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.menu-nav-address {
  color: #434455;
}

.menu-nav-address:hover {
  color: #404bbf;
}

.menu-nav-address:focus {
  color: #404bbf;
}

/*section-1*/

.hero {
  flex-shrink: 0;
  background: #2e2f42;
}

.hero-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}

.hero-button {
  background: #4d5ae5;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.hero-button:hover {
  background-color: #404bbf;
}

.hero-button:focus {
  background-color: #404bbf;
}

.hero-button-text {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}

/*section-2*/
.advantages {
  background: #fff;
}

.advantages-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.advantages-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/*section-3*/
.team-info {
  background: var(--CLOUD, #f4f4fd);
}
.team-info-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  line-height: 1.11;
}

.team-card {
  background-color: #ffffff;
}
.team-card-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.team-card-text {
  color: var(--SLATE, #434455);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
/*section-4*/
.portfolio {
  background: #fff;
}

.portfolio-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.project-card {
  flex-shrink: 0;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.project-card-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.project-card-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*footer-info*/
.footer-info {
  background: var(--NAVY-BLUE, #2e2f42);
}

.footer-info a {
  text-decoration: none;
  flex-shrink: 0;
}

.footer-logo {
  color: var(--IRIS, #4d5ae5);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo-second-part {
  color: var(--CLOUD, #f4f4fd);
}

.footer-text {
  color: var(--CLOUD, #f4f4fd);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}