body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
:root {
  --main-color: #212121;
  --accent-color: #2196f3;
  --title-color: #ffffff;
  --background: #2f303a;
  --team-color: #f5f4fa;
  --text-color: #757575;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  list-style: none;
}
.link {
  text-decoration: none;
  color: #4d5ae5;
  list-style: none;
}
.studio {
  color: #2e2f42;
}
.nav-list {
  list-style: none;
}
.nav-list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}
.nav-list-item:hover,
.nav-list-item:focus {
  color: #404bbf;
}
.contacts-list {
  font-style: normal;
}

.contacts-list-item {
  text-decoration: none;
  list-style: none;
}
.first-section {
  background-color: #2e2f42;
}
.first-header {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.first-section-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.first-section-button:hover,
.first-section-button:focus {
  background-color: #404bbf;
}
